<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org" lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content />
        <meta name="author" content />
        
         <th:block layout:fragment="script">
        <script type="text/javascript">
           history.pushState(null, null, location.href);
           window.onpopstate = function(){
               history.go(1);
           }
        </script>
  	    </th:block>
    
        <title>Grad Connect</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark"style="max-height: 60px;">
                <div class="container px-5">
                    <a class="navbar-brand" href="/main.do" style="font-size: 24px;">GradConnect</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" th:href="@{login}"> Login</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{signin}"> Sign in</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="max-height: 40px;">
			    <div class="container px-5">
			        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
			        <div class="collapse navbar-collapse justify-content-start" id="navbarSupportedContent">
			            <ul class="navbar-nav mb-2 mb-lg-0">
			                <li class="nav-item"><a class="nav-link" th:href="@{login3}">Manager</a></li>
			                <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Recruitment</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                                    <li><a class="dropdown-item" href="/main.do">View Posts</a></li>
                                    <li><a class="dropdown-item" th:href="@{login2}">Create a post</a></li>
                                </ul>
                            </li><li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Community</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                                    <li><a class="dropdown-item" th:href="@{coList}">View Posts</a></li>
                                    <li><a class="dropdown-item" th:href="@{login2}">Create a post</a></li>
                                </ul>
                            </li>
			            </ul>
			        </div>
			    </div>
			</nav>

            <!-- Page content-->
 <section class="py-5">
            <div class="container px-5">
                <!-- Contact form-->
                <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                    <div class="text-center mb-5">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-door-open-fill"></i></div>
                        <h1 class="fw-bolder">Welcome to GC</h1>
                        <p class="lead fw-normal text-muted mb-0">Please log in</p>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            <!-- Login form -->
                            <div class="form">
                                <form id="loginForm" role="form" action="board" method="post">
                                <div class="form-floating mb-3">
								    <input class="form-control" id="id" name="id" type="text" placeholder="id" data-sb-validations="required" required />
								    <label for="id">ID</label>
								</div>
								<div class="form-floating mb-3">
								    <input class="form-control" id="pw" name="pw" type="password" placeholder="pw" data-sb-validations="required" required />
								    <label for="pw">Password</label>
								</div>
								<div class="d-grid">
                                    <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Login</button>
                                </div>
                                </form>
                                <br>
								<div class="d-grid">
								    <a class="btn btn-primary bg-transparent btn-lg text-primary" id="submitButton" th:href="@{signin}" role="button">SIGNIN</a>
								</div>
								
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <!-- Contact cards-->
                    <div class="row gx-5 row-cols-2 row-cols-lg-3 py-5">
                        <div class="col">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3 " style="margin-left: 30px;"><i class="bi bi-check2-circle"></i></div>
                            <div class="h5 mb-2" style="margin-left: 30px;">Check the recruitment information</div>
                            <p class="text-muted mb-0" style="margin-left: 30px;">Find out the recruitment information for the major you want and apply</p>
                        </div>
                        <div class="col">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3" style="margin-left: 30px;"><i class="bi bi-people"></i></div>
                            <div class="h5" style="margin-left: 30px;">Ask the community</div>
                            <p class="text-muted mb-0" style="margin-left: 30px;">Explore our community forums and communicate with other users.</p>
                        </div>
                        <div class="col">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3" style="margin-left: 30px;"><i class="bi bi-telephone"></i></div>
                            <div class="h5" style="margin-left: 30px;">Call us</div>
                            <p class="text-muted mb-0" style="margin-left: 30px;">Call us during normal business hours at (031) 720-0000.</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Produced in May 2023</div></div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>

