body {
    background-color: #fff;
}

table {
    width: 1200px;
    text-align: center;
    border: 1px solid #fff;
    font-family: 'Cairo', sans-serif;
    margin: auto;
    margin-bottom: 60px;
}

caption {
    font-weight: bold;
}

table td {
    padding: 10px;
    background-color: #fff;
    border-color: #ccc;
    border-width: 0.5px;
    border-style: solid;
    border-top: 1px solid #ccc;
    border-right: none; /* 수정된 부분 */
    border-left: none;
}

table th {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px;
    border-color: #ccc;
    border-width: 0.5px;
    border-style: solid;
    border-top: 1px solid #ccc;
    border-right: none; /* 수정된 부분 */
    border-left: none;
}

table tr:first-child th {
    font-weight: normal;
    border-top: 2px solid #333;
}

table tr:last-child td {
    border-bottom: 1px solid #ccc; /* 추가된 부분 */
}


img {
}

.view,
.delete {
    border: none;
    padding: 5px 10px;
    color: #fff;
    font-weight: bold;
}

.view {
    background-color: #03A9F4;
}

.delete {
    background-color: #E91E63;
}

.tablefoot {
    padding: 0;
    border-bottom: 3px solid #009688;
}

.titlelink {
  color: black;
  text-decoration: none;
}

.titlelink:hover {
  color: blue;
  text-decoration: none;
}


.title1 {
    color: #333;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    text-decoration: none;
    text-decoration-skip-ink: none;
    position: relative;
    display: block;
}

.title1::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    bottom: 3px;
    width: 20%;
    border-bottom: 2px solid #333;
}


.line {
	border-top: 2px solid #333;
	width: 86%;
	margin-left: 7%;
	/* margin-top: 20px; */
}

.search div {
    height: 40px;
    width: 300px;
    border: 1px solid #ccc;
    background: #ffffff;
    margin-bottom: 8px;
    
}

.search input {
    font-size: 16px;
    width: 75%;
    height: 100%;
    border: 0px;
    outline: none;
    float: left;
}

.search input:-ms-input-placeholder {
    color: #a8a8a8;
}

.search input::-webkit-input-placeholder {
    color: #a8a8a8;
}

.search input::-moz-placeholder {
    color: #a8a8a8;
}

.search button {
    width: 25%;
    height: 100%;
    border: 1px solid #007bff;
    float: right;
    color: #ffffff;
}

.centered-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

